#box1 {
		position:relative;
		top: 50px;
		left: 50px;
		background-color : red; 
	}

	#box2 {
		position:relative;
		top: 50px;
		right: 50px;
		background-color : yellow; 
	}

	#box3 {
		position:relative;
		bottom: 50px;
		right: 50px;
		background-color : green; 
	}

	#box4 {
		position:relative;
		bottom: 50px;
		left: 50px;
		background-color : blue; 
	}
	